# Whitelist files
!src/
!src/**
!tests/
!tests/**
!.github/
!.github/**
!scripts/
!scripts/**
!requirements.txt
!.gitignore
!README.md
!README.pt-br.md
!.env.example
!data/
!data/**

# Ignore strict exclusions
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
.env
venv/
env/
